[client]
user={{ mysql_security_admin_user }}
password={{ mysql_security_admin_password }}
host={{ mysql_security_conn_host | default('127.0.0.1') }}
port={{ mysql_security_conn_port | default(3306) }}
