
mysql_security_remote_dir: "/opt/mysql_security"
mysql_security_defaults_file: "/etc/mysql_security/.mysql_credentials.cnf"

mysql_security_admin_user: "root"
mysql_security_admin_password: "!vault |\n  $ANSIBLE_VAULT;1.1;AES256\n  ...여기에 ansible-vault 암호화 값..."
mysql_security_conn_host: "127.0.0.1"
mysql_security_conn_port: 3306

mysql_security_allowed_admin_accounts:
  - "root@localhost"
  - "mysql.session@localhost"
  - "mysql.sys@localhost"
  - "mysql.infoschema@localhost"

mysql_security_allowed_remote_hosts: []

mysql_security_my_cnf_path: "/etc/my.cnf"
mysql_security_mysqld_user: "mysql"

mysql_security_min_safe_version: "8.0.36"

mysql_security_password_policy: "MEDIUM"
mysql_security_password_min_length: 8
mysql_security_password_mixed_case_count: 1
mysql_security_password_number_count: 1
mysql_security_password_special_char_count: 1
mysql_security_password_lifetime_days: 90

